<%= render "tops/header"%>

  <div class="section-item">
    <div class="section-item__image-frame">
      <%= image_tag("#{asset_path "item/tops1"}",class:"section-item__image-item") %>
    </div>

    <div class="section-item__content">

      <div class="section-item__content__title">
        <span><%=@item.title%></span>
      </div>

      <div class="section-item__content__price">
        <span class="section-item__value">￥5,800</span>
        <span class="section-item__suffix">（税別）</span>
      </div>

      <div class="section-item__content__information">
        <p class="section-item__content__information__text">
        流れるように配置されたギャザーがアクセントになっているのでアクセサリーいらず！ １枚で着映えのするトップスです。シンプルなパンツとのコーデがオススメですが、スカートと合わせて、甘めな上品スタイルに仕上げても◎。
        </p>

        <table class="section-item__information-table">
          <tbody>
            <tr>
              <th>カラー</th>
              <td>パープル</td> 
            </tr>
            <tr>
              <th>素材</th>
              <td>ポリエステル</td>
              
            </tr>
            <tr>
              <th>ブランド</th>
              <td>YUKI. CLOSET</td>
            </tr>

            <tr>
              <th>定価</th>
              <td>￥8,500<br>(税込¥9,350)</td>
            </tr>

            <tr>
              <th>サイズ</th>
              <td>F</td>
            </tr>
            
            </tbody>
          </table>

      <div class="section-item__lental">

      
        <div class="section-item__lental-button">
          <%= link_to "この服をかりる！"%>
        </div>


      </div>
      </div>
  </div>
</div>


<%= render "tops/footer"%>